.home_page {
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.header_frame .container {
  flex-direction: row;
}

.container .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;

  background: rgba(0, 83, 246, 1);
  background-image: url(../images/icons/header_background.png);
}

.header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;

  color: rgba(4, 30, 66, 1);
}

.header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;

  color: #fff;
}

.header_content p {
  margin-top: 10px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #fff;
}

.header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.header_content img {
  position: absolute;
  right: 10px;
}

.container .header_right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_right .header_box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;

  border-radius: 5px;
}

.header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_left span {
  font-family: "Jost";
  font-style: normal;

  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: rgba(0, 83, 246, 1);
}

.box_left p {
  margin: 10px 0px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;

  color: #041e42;
}

.box_left a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background: #041e42;
}

.header_box .box_right {
  width: 50%;
}

.box_right img {
  width: 100%;
  height: 100%;
}
.header_frame .box_right .image2 {
  position: absolute;

  bottom: 0;
  right: 0;
  width: 230px;
  height: auto;
}

/* Box Left2 */
